<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Employee details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Employee details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <td th:text="${employee.getId()}"></td>
                        </tr>
                        <tr>
                            <th>First name</th>
                            <td th:text="${employee.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td th:text="${employee.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td th:text="${#calendars.format(employee.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td th:text="${#calendars.format(employee.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>All departments</th>
                            <td>
                                <ul th:each="department : ${departments}">
                                    <li>
                                        <a role="button" class="btn btn-link"
                                           th:href="@{'/departments/details/' + ${department.getKey()}}"
                                           th:text="${department.getValue()}">details</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
